Repository rack/rack, pull requests merged in 2020-01, with the labels that each got.

#1434 Lazily initialize the response body and only buffer it if required.
  lib/rack/mock.rb
  lib/rack/response.rb
  test/spec_response.rb
Labels: Needs Feedback, Refactor, bug

#1465 Fix ActiveStorage use-case and add test case. Fixes #1464.
  lib/rack/files.rb
  test/spec_files.rb
Labels: bug

#1488 Update SPEC and Lint to require ASCII-8BIT encoding for CGI values wih non-ASCII characters
  SPEC
  lib/rack/lint.rb
  test/spec_lint.rb
Labels: SPEC

#1514 Require request env not be frozen in SPEC
  SPEC
  lib/rack/lint.rb
  test/spec_lint.rb
Labels: SPEC

#1511 Require rack.session entry to respond to to_hash and return Hash instance
  SPEC
  lib/rack/lint.rb
  test/spec_lint.rb
Labels: SPEC
